Repository PiotrMichalowski96/bet-microservices: changes, and which CircleCI parameters are due for each by the changed paths.
All: bet-api-modified, bet-event-aggregator-modified, match-api-modified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            bet-api/.* bet-api-modified true
            bet-event-aggregator/.* bet-event-aggregator-modified true
            match-api/.* match-api-modified true
          config-path: .circleci/workflows.yml

[FEATURE] ongoing matches presented on home page
  bet-frontend/src/app/pages/home/home.component.html
  bet-frontend/src/app/pages/home/home.component.ts
  bet-frontend/src/app/services/matches.service.ts
Due: none

[FEATURE] fix number of pages on the bottom in matches page
  bet-frontend/src/app/pages/matches-page/matches-page.component.html
  bet-frontend/src/app/pages/matches-page/matches-page.component.ts
  bet-frontend/src/app/services/matches.service.ts
Due: none

[FEATURE] fix number of pages on the bottom in bets page
  bet-frontend/src/app/pages/bets-page/bets-page.component.html
  bet-frontend/src/app/pages/bets-page/bets-page.component.ts
  bet-frontend/src/app/services/bets.service.ts
Due: none

[FEATURE] create bet button is visible only if bet has not been created yet
  bet-frontend/src/app/pages/match-page/match-page.component.ts
Due: none

[FEATURE] padding between bets in carousel
  bet-frontend/src/app/pages/bets-page/bets-page.component.css
  bet-frontend/src/app/pages/bets-page/bets-page.component.html
  bet-frontend/src/app/pages/bets-page/bets-page.component.scss
  bet-frontend/src/app/pages/bets-page/bets-page.component.ts
Due: none

[FEATURE] max number of bets in carousel
  bet-frontend/src/app/pages/bets-page/bets-page.component.html
  bet-frontend/src/app/pages/match-page/match-page.component.html
Due: none

[FEATURE] revert number of bets in carousel
  bet-frontend/src/app/pages/bets-page/bets-page.component.html
  bet-frontend/src/app/pages/match-page/match-page.component.html
Due: none

[FEATURE] 1/8 matches graphics
  doc/graphics/Austria-Turkey.png
  doc/graphics/England-Slovakia.png
  doc/graphics/France-Belgium.png
  doc/graphics/Germany-Denmark.png
  doc/graphics/Portugal-Slovenia.png
  doc/graphics/Romania-Netherlands.png
  doc/graphics/Spain-Georgia.png
  doc/graphics/Switzerland-Italy.png
Due: none

[FEATURE] increase number of items in carousel
  bet-frontend/src/app/pages/bets-page/bets-page.component.html
  bet-frontend/src/app/pages/match-page/match-page.component.html
  bet-frontend/src/app/util/carousel-properties.ts
Due: none

Feature/frontend improvements (#56)
  bet-frontend/src/app/pages/bets-page/bets-page.component.css
  bet-frontend/src/app/pages/bets-page/bets-page.component.html
  bet-frontend/src/app/pages/bets-page/bets-page.component.scss
  bet-frontend/src/app/pages/bets-page/bets-page.component.ts
  bet-frontend/src/app/pages/home/home.component.html
  bet-frontend/src/app/pages/home/home.component.ts
  bet-frontend/src/app/pages/match-page/match-page.component.html
  bet-frontend/src/app/pages/match-page/match-page.component.ts
  bet-frontend/src/app/pages/matches-page/matches-page.component.html
  bet-frontend/src/app/pages/matches-page/matches-page.component.ts
  bet-frontend/src/app/services/bets.service.ts
  bet-frontend/src/app/services/matches.service.ts
  bet-frontend/src/app/shared/header/header/header.component.html
  bet-frontend/src/app/util/carousel-properties.ts
Due: none

[FEATURE] ongoing matches endpoint
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
  match-api/src/main/java/com/piter/match/api/web/MatchController.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/util/MatchTestData.java
  match-api/src/test/java/com/piter/match/api/web/MatchControllerTest.java
Due: match-api-modified

[FEATURE] refactoring
  bet-api/src/main/java/com/piter/bet/api/config/SecurityConfig.java
  bet-api/src/main/java/com/piter/bet/api/web/BetController.java
  bet-api/src/main/java/com/piter/bet/api/web/UserController.java
  bet-api/src/test/java/com/piter/bet/api/config/BetApiTestConfig.java
Due: bet-api-modified

[FEATURE] refactoring
  bet-api/src/main/java/com/piter/bet/api/consumer/BetEventType.java
Due: bet-api-modified

[FEATURE] ongoing matches endpoint (#57)
  bet-api/src/main/java/com/piter/bet/api/config/SecurityConfig.java
  bet-api/src/main/java/com/piter/bet/api/consumer/BetEventType.java
  bet-api/src/main/java/com/piter/bet/api/web/BetController.java
  bet-api/src/main/java/com/piter/bet/api/web/UserController.java
  bet-api/src/test/java/com/piter/bet/api/config/BetApiTestConfig.java
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
  match-api/src/main/java/com/piter/match/api/web/MatchController.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/util/MatchTestData.java
  match-api/src/test/java/com/piter/match/api/web/MatchControllerTest.java
Due: bet-api-modified, match-api-modified

[FEATURE] change Match API version to v2
  bet-gateway/src/main/java/com/piter/bet/gateway/config/LoadBalancedRoutesConfig.java
  match-api/src/main/java/com/piter/match/api/config/SecurityConfig.java
  match-api/src/main/java/com/piter/match/api/web/MatchController.java
  match-api/src/test/java/com/piter/match/api/web/MatchControllerTest.java
  match-api/src/test/resources/contracts/shouldNotFoundMatchById.groovy
  match-api/src/test/resources/contracts/shouldReturnEmptyUpcomingMatches.groovy
  match-api/src/test/resources/contracts/shouldReturnMatchById.groovy
  match-api/src/test/resources/contracts/shouldReturnMatches.groovy
  match-api/src/test/resources/contracts/shouldReturnMatchesOrderByMatchTime.groovy
Due: match-api-modified

[FEATURE] refactoring
  match-api/src/main/java/com/piter/match/api/consumer/MatchEventType.java
  match-api/src/main/java/com/piter/match/api/consumer/MatchKafkaConsumer.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchEventTypeTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerIntegrationTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
Due: match-api-modified

[FEATURE] new endpoints for updating match and adding match result
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
  match-api/src/main/java/com/piter/match/api/web/MatchController.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/web/MatchControllerTest.java
Due: match-api-modified

[FEATURE] Refactoring - extracting MongoDB model and Kafka events
  shared-library/api-commons/pom.xml
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/MatchResult.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/MatchRound.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/BetEvent.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/BetOutcome.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/BetUser.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/MatchEvent.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/MatchScore.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/TournamentRound.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/model/Bet.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/model/BetResult.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/model/DatabaseSequence.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/model/Match.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/model/MatchResult.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/model/MatchRound.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/model/User.java
  shared-library/api-commons/src/test/java/com/piter/api/commons/util/JsonUtilTest.java
  shared-library/api-commons/src/test/resources/samples/array.json
  shared-library/api-commons/src/test/resources/samples/single.json
  shared-library/pom.xml
  shared-library/security-commons/pom.xml
Due: none

[FEATURE] refactoring to use separate API DTOs and MongoDB model
  match-api/pom.xml
  match-api/src/int-test/java/com/piter/match/api/it/stepdefs/MatchApiStepDefs.java
  match-api/src/main/java/com/piter/match/api/consumer/MatchEventType.java
  match-api/src/main/java/com/piter/match/api/consumer/MatchKafkaConsumer.java
  match-api/src/main/java/com/piter/match/api/producer/MatchKafkaProducer.java
  match-api/src/main/java/com/piter/match/api/repository/MatchRepository.java
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
  match-api/src/main/java/com/piter/match/api/service/SequenceGeneratorService.java
  match-api/src/main/java/com/piter/match/api/web/MatchController.java
  match-api/src/main/java/com/piter/match/api/web/MatchIdResponse.java
  match-api/src/main/java/com/piter/match/api/web/MatchRequest.java
  match-api/src/main/java/com/piter/match/api/web/MatchResponse.java
  match-api/src/main/java/com/piter/match/api/web/MatchResult.java
  match-api/src/main/java/com/piter/match/api/web/MatchRound.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchEventTypeTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerIntegrationTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
  match-api/src/test/java/com/piter/match/api/contract/MatchApiBaseTest.java
  match-api/src/test/java/com/piter/match/api/producer/MatchKafkaProducerTest.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/service/SequenceGeneratorServiceIntegrationTest.java
  match-api/src/test/java/com/piter/match/api/service/SequenceGeneratorServiceTest.java
  match-api/src/test/java/com/piter/match/api/util/DbPopulatorUtil.java
  match-api/src/test/java/com/piter/match/api/util/MatchTestData.java
  match-api/src/test/java/com/piter/match/api/web/MatchControllerTest.java
  match-api/src/test/resources/contracts/shouldReturnMatchById.groovy
  match-api/src/test/resources/contracts/shouldReturnMatches.groovy
  match-api/src/test/resources/contracts/shouldReturnMatchesOrderByMatchTime.groovy
Due: match-api-modified

[FEATURE] add mappers to match events
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/MatchEvent.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/MatchScore.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/event/TournamentRound.java
Due: none

[FEATURE] refactoring to use match events
  match-api/src/main/java/com/piter/match/api/consumer/MatchEventType.java
  match-api/src/main/java/com/piter/match/api/consumer/MatchKafkaConsumer.java
  match-api/src/main/java/com/piter/match/api/producer/MatchKafkaProducer.java
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchEventTypeTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerIntegrationTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
  match-api/src/test/java/com/piter/match/api/producer/MatchKafkaProducerTest.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/web/MatchControllerTest.java
Due: match-api-modified

[FEATURE] caching match services
  match-api/pom.xml
  match-api/src/main/java/com/piter/match/api/config/CacheConfig.java
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
  match-api/src/main/resources/application.yaml
  match-api/src/test/java/com/piter/match/api/config/MatchApiTestConfig.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
Due: match-api-modified

[FEATURE] match api supports pagination
  match-api/src/main/java/com/piter/match/api/repository/MatchRepository.java
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
  match-api/src/main/java/com/piter/match/api/web/MatchController.java
  match-api/src/main/java/com/piter/match/api/web/RequestParams.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/web/MatchControllerTest.java
  match-api/src/test/resources/contracts/shouldReturnMatchesOrderByMatchTimeAsc.groovy
  match-api/src/test/resources/contracts/shouldReturnMatchesOrderByMatchTimeDesc.groovy
  match-api/src/test/resources/contracts/shouldReturnMatchesPage.groovy
Due: match-api-modified
