Repository PiotrMichalowski96/bet-microservices: changes, and which CircleCI parameters are due for each by the changed paths.
All: bet-api-modified, bet-event-aggregator-modified, match-api-modified

Add Circle CI config files
  .circleci/config.yml
Due: none

Add Circle CI config files
  .circleci/workflows.yml
Due: none

Test change
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
Due: match-api-modified

Update Circle CI config
  .circleci/workflows.yml
Due: none

Update embedded MongoDB version
  match-api/pom.xml
  match-api/src/main/resources/application-TEST.yml
Due: match-api-modified

Update embedded MongoDB config
  match-api/src/main/resources/application-TEST.yml
Due: match-api-modified

Update embedded mongo version
  match-api/pom.xml
Due: match-api-modified

Refactoring
  .circleci/workflows.yml
  match-api/pom.xml
Due: match-api-modified

Refactoring
  match-api/pom.xml
Due: match-api-modified

Change embedded mongo version
  match-api/pom.xml
Due: match-api-modified

Refactoring
  .circleci/workflows.yml
Due: none

Refactoring
  match-api/src/main/resources/application-TEST.yml
Due: match-api-modified

Add Embedded MongoDB test group
  match-api/src/main/resources/application-TEST.yml
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
  match-api/src/test/java/com/piter/match/api/contract/MatchApiBaseTest.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/service/SequenceGeneratorServiceTest.java
Due: match-api-modified

Update Embedded MongoDB library version
  bet-api/pom.xml
Due: bet-api-modified

Bump commons version
  bet-api/pom.xml
Due: bet-api-modified

Add Embedded MongoDB test group
  bet-api/src/test/java/com/piter/bet/api/consumer/BetKafkaConsumerTest.java
  bet-api/src/test/java/com/piter/bet/api/service/AbstractServiceTest.java
Due: bet-api-modified

Update Bet Event Aggregator build pipeline
  .circleci/workflows.yml
  bet-event-aggregator/src/test/java/com/piter/bet/event/aggregator/prediction/BetPredictionFetcherTest.java
Due: bet-event-aggregator-modified

Feature/circle ci (#43)
  .circleci/config.yml
  .circleci/workflows.yml
  bet-api/pom.xml
  bet-api/src/test/java/com/piter/bet/api/consumer/BetKafkaConsumerTest.java
  bet-api/src/test/java/com/piter/bet/api/service/AbstractServiceTest.java
  bet-event-aggregator/src/test/java/com/piter/bet/event/aggregator/prediction/BetPredictionFetcherTest.java
  match-api/.circle/config.yml
  match-api/pom.xml
  match-api/src/main/resources/application-TEST.yml
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
  match-api/src/test/java/com/piter/match/api/contract/MatchApiBaseTest.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
  match-api/src/test/java/com/piter/match/api/service/SequenceGeneratorServiceTest.java
Due: bet-api-modified, bet-event-aggregator-modified, match-api-modified

Add Continuous Integration tests status to doc
  README.md
Due: none

[FEATURE] Setup SonarCloud
  .circleci/workflows.yml
  bet-api/pom.xml
  bet-event-aggregator/pom.xml
  match-api/pom.xml
Due: bet-api-modified, bet-event-aggregator-modified, match-api-modified

[FEATURE] Setup SonarCloud
  .circleci/workflows.yml
Due: none

[FEATURE] Update doc
  README.md
Due: none

[FEATURE] Update SonarCloud config and doc because of monorepo
  README.md
  bet-api/pom.xml
  bet-event-aggregator/pom.xml
  match-api/pom.xml
Due: bet-api-modified, bet-event-aggregator-modified, match-api-modified

Path conditions:
  bet-api-modified: any of: bet-api/.*
  bet-event-aggregator-modified: any of: bet-event-aggregator/.*
  match-api-modified: any of: match-api/.*
