Repository PiotrMichalowski96/bet-microservices: changes, and which CircleCI parameters are due for each by the changed paths.
All: bet-api-modified, bet-event-aggregator-modified, match-api-modified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            bet-api/.* bet-api-modified true
            bet-event-aggregator/.* bet-event-aggregator-modified true
            match-api/.* match-api-modified true
          config-path: .circleci/workflows.yml

[FEATURE] Update SonarCloud config
  bet-api/pom.xml
  bet-event-aggregator/pom.xml
  match-api/pom.xml
Due: bet-api-modified, bet-event-aggregator-modified, match-api-modified

[FEATURE] Fix sonar cloud result bindings
  README.md
Due: none

[FEATURE] Update information regarding tests
  README.md
  doc/bet-microservices-code-coverage.png
Due: none

[FEATURE] Fix code smells
  bet-event-aggregator/src/main/java/com/piter/bet/event/aggregator/validation/BetValidator.java
  bet-event-aggregator/src/test/java/com/piter/bet/event/aggregator/validation/BetValidatorTest.java
Due: bet-event-aggregator-modified

[FEATURE] Update coverage setup
  bet-event-aggregator/pom.xml
Due: bet-event-aggregator-modified

[FEATURE] Update lombok config
  bet-event-aggregator/lombok.config
Due: bet-event-aggregator-modified

[FEATURE] Cleaning code in Bet API service after SonarCloud analysis
  bet-api/pom.xml
  bet-api/src/main/java/com/piter/bet/api/config/SecurityConfig.java
  bet-api/src/main/java/com/piter/bet/api/exception/BetApiExceptionHandler.java
  bet-api/src/test/java/com/piter/bet/api/web/BetControllerTest.java
Due: bet-api-modified

[FEATURE] Update lombok config
  match-api/lombok.config
  match-management/lombok.config
  shared-library/lombok.config
Due: match-api-modified

[FEATURE] Fix code smells detected by SonarCloud
  match-api/pom.xml
  match-api/src/main/java/com/piter/match/api/config/CacheConfig.java
  match-api/src/main/java/com/piter/match/api/config/SecurityConfig.java
  match-api/src/main/java/com/piter/match/api/exception/MatchApiExceptionHandler.java
  match-api/src/main/java/com/piter/match/api/web/MatchController.java
Due: match-api-modified

[FEATURE] Add kafka consumer tests
  bet-api/src/test/java/com/piter/bet/api/consumer/BetKafkaConsumerIntegrationTest.java
  bet-api/src/test/java/com/piter/bet/api/consumer/BetKafkaConsumerTest.java
Due: bet-api-modified

[FEATURE] Add kafka consumer tests
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerIntegrationTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
Due: match-api-modified

[FEATURE] Add sequence number service tests
  match-api/src/test/java/com/piter/match/api/service/SequenceGeneratorServiceIntegrationTest.java
  match-api/src/test/java/com/piter/match/api/service/SequenceGeneratorServiceTest.java
Due: match-api-modified

[FEATURE] Refactoring of kafka consumer tests
  bet-api/src/test/java/com/piter/bet/api/consumer/BetKafkaConsumerTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
Due: bet-api-modified, match-api-modified

[FEATURE] bump spring boot version for shared library
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/Bet.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/BetResult.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/Match.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/MatchResult.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/MatchRound.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/User.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/producer/KafkaMessageProducer.java
  shared-library/pom.xml
Due: none

[FEATURE] bump spring boot version for shared library
  shared-library/api-commons/pom.xml
  shared-library/pom.xml
  shared-library/security-commons/pom.xml
Due: none

[FEATURE] bump spring boot version for match api service
  match-api/pom.xml
  match-api/src/main/java/com/piter/match/api/consumer/MatchKafkaConsumer.java
  match-api/src/main/resources/application-TEST.yml
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerIntegrationTest.java
  match-api/src/test/java/com/piter/match/api/consumer/MatchKafkaConsumerTest.java
  match-api/src/test/java/com/piter/match/api/producer/MatchKafkaProducerTest.java
  match-api/src/test/java/com/piter/match/api/service/MatchServiceTest.java
Due: match-api-modified

[FEATURE] bump spring boot version for bet gateway
  bet-gateway/pom.xml
Due: none

[FEATURE] bump spring boot version for bet event aggregator service
  bet-event-aggregator/pom.xml
  bet-event-aggregator/src/main/java/com/piter/bet/event/aggregator/domain/Bet.java
  bet-event-aggregator/src/main/java/com/piter/bet/event/aggregator/domain/BetResult.java
  bet-event-aggregator/src/main/java/com/piter/bet/event/aggregator/domain/Match.java
  bet-event-aggregator/src/main/java/com/piter/bet/event/aggregator/domain/MatchResult.java
  bet-event-aggregator/src/main/java/com/piter/bet/event/aggregator/domain/MatchRound.java
  bet-event-aggregator/src/main/java/com/piter/bet/event/aggregator/domain/User.java
Due: bet-event-aggregator-modified

[FEATURE] bump spring boot version for bet api service
  bet-api/pom.xml
  bet-api/src/main/java/com/piter/bet/api/consumer/BetKafkaConsumer.java
  bet-api/src/main/resources/application-TEST.yml
  bet-api/src/test/java/com/piter/bet/api/consumer/BetKafkaConsumerTest.java
  bet-api/src/test/java/com/piter/bet/api/producer/BetKafkaProducerTest.java
Due: bet-api-modified

[FEATURE] bump spring boot version for cloud services
  bet-config-server/pom.xml
  bet-eureka/pom.xml
Due: none

[FEATURE] test containers refactoring
  match-api/pom.xml
  match-api/src/int-test/java/com/piter/match/api/it/docker/AbstractDockerIntegrationTest.java
  match-api/src/int-test/java/com/piter/match/api/it/docker/DockerContextInitializer.java
  match-api/src/int-test/java/com/piter/match/api/it/stepdefs/MatchApiStepDefs.java
  match-api/src/int-test/java/com/piter/match/api/it/testcontainers/EnableTestcontainers.java
  match-api/src/int-test/java/com/piter/match/api/it/testcontainers/TestcontainersInitializer.java
  match-api/src/int-test/resources/docker/docker-compose.yaml
  match-api/src/main/java/com/piter/match/api/consumer/MatchEventType.java
  match-api/src/main/resources/application-INT-TEST.yml
Due: match-api-modified

[FEATURE] ignore test scenario because found bug in spring cloud framework
  match-api/src/int-test/java/com/piter/match/api/it/CucumberIntegrationTest.java
  match-api/src/int-test/resources/features/modify-matches.feature
Due: match-api-modified

[FEATURE] exclude integration tests classes from coverage report
  match-api/pom.xml
Due: match-api-modified

match graphics
  doc/graphics/Portugal-Ireland.png
Due: none

[FEATURE] additional logging of a webclient
  bet-config-repo/bet-api/application-DOCKER.yaml
Due: none

[FEATURE] test graphics
  doc/graphics/Poland-Brasil.png
Due: none

[FEATURE] euro 2024 images
  doc/graphics/Austria-France.png
  doc/graphics/Belgium-Slovakia .png
  doc/graphics/Germany-Scotland.png
  doc/graphics/Hungary-Switzerland.png
  doc/graphics/Italy-Albania.png
  doc/graphics/Poland-Netherlands.png
  doc/graphics/Portugal-Czech Republic.png
  doc/graphics/Romania-Ukraine.png
  doc/graphics/Serbia-England.png
  doc/graphics/Slovenia-Denmark.png
  doc/graphics/Spain-Croatia.png
  doc/graphics/Turkey-Georgia.png
Due: none

[FEATURE] euro 2024 images
  doc/graphics/Belgium-Slovakia.png
Due: none

[FEATURE] euro 2024 images
  doc/graphics/Albania-Spain.png
  doc/graphics/Belgium-Romania.png
  doc/graphics/Croatia-Albania.png
  doc/graphics/Croatia-Italy.png
  doc/graphics/Czech Republic-Turkey.png
  doc/graphics/Denmark-England.png
  doc/graphics/Denmark-Serbia.png
  doc/graphics/England-Slovenia.png
  doc/graphics/France-Poland.png
  doc/graphics/Georiga-Czech Republic.png
  doc/graphics/Georiga-Portugal.png
  doc/graphics/Germany-Hungary.png
  doc/graphics/Netherlands-Austria.png
  doc/graphics/Netherlands-France.png
  doc/graphics/Poland-Austria.png
  doc/graphics/Scotland-Hungary.png
  doc/graphics/Scotland-Switzerland.png
  doc/graphics/Slovakia-Romania.png
  doc/graphics/Slovakia-Ukraine.png
  doc/graphics/Slovenia-Serbia.png
  doc/graphics/Spain-Italy.png
  doc/graphics/Switzerland-Germany.png
  doc/graphics/Turkey-Portugal.png
  doc/graphics/Ukraine-Belgium.png
Due: none

[FEATURE] euro 2024 images
  doc/graphics/Georgia-Czech Republic.png
  doc/graphics/Georgia-Portugal.png
Due: none

[FEATURE] docker compose ready to deploy on Cloud env
  doc/docker/cloud-ready-compose.yaml
Due: none

[FEATURE] shared libs is using spring boot 3.3.1 and newest cloud versions
  shared-library/api-commons/pom.xml
  shared-library/pom.xml
  shared-library/security-commons/pom.xml
Due: none

[FEATURE] shared libs is using spring boot 3.3.1 and newest cloud versions
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/Bet.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/BetResult.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/DatabaseSequence.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/Match.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/MatchResult.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/MatchRound.java
  shared-library/api-commons/src/main/java/com/piter/api/commons/domain/User.java
  shared-library/api-commons/src/test/java/com/piter/api/commons/util/JsonUtilTest.java
Due: none

[FEATURE] bet api is using spring boot 3.3.1 and refactoring
  bet-api/pom.xml
  bet-api/src/main/docker/Dockerfile
  bet-api/src/main/java/com/piter/bet/api/config/SecurityConfig.java
  bet-api/src/main/java/com/piter/bet/api/model/UserResultProjection.java
  bet-api/src/main/java/com/piter/bet/api/producer/BetKafkaProducer.java
  bet-api/src/main/java/com/piter/bet/api/service/BetService.java
  bet-api/src/main/java/com/piter/bet/api/web/BetController.java
  bet-api/src/main/resources/application-DEV.yaml
  bet-api/src/test/java/com/piter/bet/api/service/AbstractServiceTest.java
  bet-api/src/test/java/com/piter/bet/api/service/BetServiceTest.java
  bet-api/src/test/java/com/piter/bet/api/service/UserServiceTest.java
  bet-api/src/test/java/com/piter/bet/api/web/BetControllerTest.java
  bet-api/src/test/java/com/piter/bet/api/web/UserControllerTest.java
Due: bet-api-modified

[FEATURE] build pipeline using images with Java 21
  .circleci/workflows.yml
Due: none

[FEATURE] refactoring
  match-api/pom.xml
  match-api/src/int-test/resources/features/modify-matches.feature
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
Due: match-api-modified

[FEATURE] local dev configuration
  bet-api/src/main/resources/application-DEV.yaml
  bet-event-aggregator/src/main/resources/application-DEV.yaml
  bet-gateway/src/main/resources/application-DEV.yaml
  doc/docker/local-compose.yaml
  match-api/src/main/resources/application-DEV.yaml
Due: bet-api-modified, bet-event-aggregator-modified, match-api-modified

[FEATURE] refactoring
  match-api/src/main/java/com/piter/match/api/service/MatchService.java
Due: match-api-modified

[FEATURE] remove home tab in header as it takes too much space
  bet-frontend/src/app/shared/header/header/header.component.html
Due: none
